*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navContainer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #92a9d9;
}

a{
    text-decoration: none;
}

#navlist{
    width: 100%;
    margin: 15px; 
    padding: 15px;
    font-size: 1.5rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navitems{
    display: flex;
    gap: 40px;
}

#navlogo{
    color: white;
    font-size: 2.5rem;
}
